.btn {
  padding: 1px 20px;
  text-transform: uppercase;
}

.header_tabs {
  background-color: gray;
}

.nav {
  border-bottom: none;
}
.header {
  background-color: black;
  position: fixed;
  width:100%;
  z-index:100000;
}
.top-header {
  padding: 30px 0px 10px 20px;
  font-family: Candal;
  text-align: left;
  color: white;
  font-size: 200%;
}


.page_title {
  padding: 20px 0px 20px 0px;
  text-align: center;
  font-size: 200%;
  color: #131768;
}
body {
  color: #131768;
}
.bio-info{
  padding-left: 20px;
}
.bio_pic {
  padding-left: 100px;
  height: 300px;
}

.term {
  padding-left: 20px;
  font-weight: bold;
  font-size: 150%;
}

.definition {
  padding-left: 40px;
  font-size: 125%
}

.form_box {
  margin-left: 30px;
}
.tabs {
  padding-left: 50px;
}

.form_title {
  padding-left: 30px;
  font-weight: bold;
}
.submit {
  background-color: gray;
  color:black;
  font-weight: bold;
  margin-left: 175px;
}

.my_information {
  margin-left: 200px;
  font-weight: bold;
}

